* {
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  margin: 0;
  padding: 0;
  background: url("./assets/earth2.jpg") fixed no-repeat;
  color: #ffffffea;
}

h2 {
  text-align: center;
  color: rgba(240, 248, 255, 0);
}

.container {
  width: 98%;
  max-width: 960px;
  margin: auto;
}

/* === Styling radio buttons === */
/* ============================= */
input[type="radio"] {
  display: none;
}
.radio {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  max-width: 20rem;
  margin: auto;
}
.radio label {
  border: 0.125rem solid #ffffffe1;
  color: #f8f8f8;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0 10px 0;
}
.radio label:hover {
  background-color: #fa9026b6;
  /* border: 1px #fa9026b6; */
  color: rgb(255, 255, 255);
}
input[type="radio"]:checked + label {
  background: #fa9026;
  border: #fa9026 solid 1px;
  color: white;
}

/* Buttons styling */
/* ====================== */
/* .button {
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  background-image: linear-gradient(to bottom, #02ce02, green);
} */

/* input [type="text"]  */
.search-div {
  padding: 0.1rem;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 5px;
}
#search-field {
  border: solid 2px rgb(233, 233, 233);
  background: rgba(27, 27, 27, 0.185);
  border-radius: 3px;
  padding: 0.5rem;
  width: 100%;
  font-size: 14px;
  color: aliceblue;
}

.div-country {
  padding: 1rem;
  text-align: center;
  color: rgb(228, 228, 228);
}
.div-country:nth-child(odd) {
  background: #1a1a1a8d;
}
.div-country:nth-child(even) {
  background: #1a1a1a8d;
}
.countryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
}

/* Header text and number of countries */
.active-header {
  text-align: center;
  border-radius: 7px;
  padding: 10px;
  margin: 10px auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(46, 46, 46, 0.678) 0%,
    rgba(22, 22, 22, 0.308) 100%
  );
}

input[type="text"]:focus {
  outline: none;
}
